* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    margin: 10px;
    padding: 10px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 4px 5px aqua;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}